
<%= form_for(:subject, url:{action: :destroy, id: @subject.id}) do |f| %>
  
   <p> Are you sure , you want to delete the subject? </p>
   <p> <%= @subject.name %> </p>
 
 
<div >
  <%= f.submit("Yes, Delete Subject") %>
</div>

<h5><%= link_to("<<Back to Home Page", {action: :index}) %> </h3>


<% end %>
